header 
  h1 Welcome!
section
  div#main Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum placeat dignissimos, dolore dolores ad laboriosam quo hic dolor obcaecati facilis at voluptates aliquam, cupiditate numquam quibusdam quas, itaque quod optio!